/target
*/target/*
**/target/*
/Output
*/Output/*
**/Output/*
/Models
*/Output/*
**/Models/*
/OutputTrainning
*/OutpuTrainiing/*
**/OutpuTrainiing/*
/OutputValidation
*/OutputTrainning/*
**/OutputTrainning/*
/PosTagPred
*/PosTagPred/*
**/PosTagPred/*
/PosTagNps
*/PosTagNps/*
**/PosTagNps/*
/LogsPred
*/LogsPred/*
**/LogsPred/*
/LogsNps
*/LogsNps/*
**/LogsNps/*
**/LogsNps/*
*/LogsCyberSex/*
**/LogsCyberSex/*
**/LogsCyberSex/*
/WordNet-3.0
*/WordNet-3.0/*
**/WordNet-3.0/*
/WordNetAffect
*/WordNetAffect/*
**/WordNetAffect/*
*.exe
*.class
/build/